{% extends 'users/main.html' %}
{% block main_section %}
    {% if user.is_authenticated %}
        <div class="form-section">
        <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Списком всех юзеров, зарегистрированных в системе и информацией о них.</h6>
        {% for us_list in users %}
            <div class="media text-muted pt-3">
                <img class="bd-placeholder-img mr-2 rounded" width="32" height="32" src="{{ us_list.img.url }}"/>
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">@{{ us_list.user }}</strong>
                    {{ us_list.bio|truncatewords:20 }}<a href="{{ us_list.get_absolute_url }}">  Подробнее</a>
                </p>
            </div>
        {% endfor %}
    {% else %}
        <div class="form-section">
            <h2>Авторизация на сайте</h2>
            <form method="POST">

                <a href="{% url 'user' %}" class="btn btn-outline-warning">Войти</a>
            </form>
            <a href="{% url 'social:begin' 'github' %}">Аутентификация через Github</a><br>
            <a href="{% url 'social:begin' 'google-oauth2' %}">Аутентификация через Google</a>
        </div>
    {% endif %}

</div>
{% endblock main_section %}
